# @format
name: phone_otp_ui
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.17.6 <3.0.0'
dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  pinput: ^2.2.12
  firebase_core: ^2.4.1
  firebase_auth: ^4.2.4
  http: ^0.13.5
  shared_preferences: ^2.0.15
  dio: ^4.0.6
  modal_progress_hud_nsn: ^0.3.0
  hive: ^2.1.0
  hive_flutter: ^1.1.0
  pdf: ^3.1.0
  path_provider: ^2.0.1
  open_file: ^3.1.0
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.11.0
  splashscreen: ^1.3.5
  flutter_lints: ^2.0.0
flutter_icons:
  android: true
  ios: true
  image_path: 'images/output-onlinepngtools.png'

flutter:
  uses-material-design: true
  assets:
    - images/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
